extend layout 

block content
  a(href='/') Back
  if warning 
    p= warning
  h1 Add a country to the list.
  form(action='/new' method='post')
    label Country name  
    input.box(type='text' name='name')
    label flag
    input.box(type='text' name='flagUrl')
    label Capital 
    input.box(type='text' name='capital')
    label Population 
    input.box(type='number' name='population')
    br

    input(class='submit' type='submit' name='submit' value='ADD')
